<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="pppInvestorApp.bank.home.title">Banks</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="pppInvestorApp.bank.home.createLabel"> Create a new Bank </span>
    </button>

    <!--    <form class="mr-4">-->
    <!--      <mat-form-field appearance="standard" floatLabel="never">-->
    <!--        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">-->
    <!--          <mat-icon>search</mat-icon>-->
    <!--        </button>-->
    <!--        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />-->

    <!--        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>-->
    <!--          <mat-icon>clear</mat-icon>-->
    <!--        </button>-->
    <!--      </mat-form-field>-->
    <!--    </form>-->
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="banks && banks.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="pppInvestorApp.bank.name">Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="pppInvestorApp.bank.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bank of banks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bank', bank.id, 'view']">{{ bank.id }}</a>
          </td>
          <td>{{ bank.name }}</td>
          <td>
            {{ bank.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bank', bank.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bank', bank.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bank)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
