<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="pppInvestorApp.investor.home.title">Investors</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="pppInvestorApp.investor.home.createLabel"> Create a new Investor </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <button *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير بالمستثمرين
    </button>
  </div>

  <!--  <div *ngIf="!agent?.id" class="mt-1 ml-1 d-flex align-items-center">-->

  <!--    <button *jhiHasAnyAuthority="['ROLE_CREATE']" mat-raised-button color="primary" [routerLink]="['/agency/new']">-->
  <!--      <mat-icon class="ml-1">add</mat-icon>-->
  <!--      إضافة وكالة جديدة-->
  <!--    </button>-->
  <!--    <form class="mr-4">-->
  <!--      <mat-form-field class="mat-search-box" appearance="stander" floatLabel="never">-->
  <!--        <button mat-icon-button matPrefix type="submit" (click)="search(currentSearch)">-->
  <!--          <mat-icon>search</mat-icon>-->
  <!--        </button>-->
  <!--        <input type="text" placeholder="تصفية" matInput [(ngModel)]="currentSearch" name="currentSearch">-->

  <!--        <button color="warn" matSuffix mat-icon-button (click)="clear()" *ngIf="currentSearch">-->
  <!--          <mat-icon>clear</mat-icon>-->
  <!--        </button>-->
  <!--      </mat-form-field>-->
  <!--    </form>-->

  <!--    -->
  <!--  </div>-->

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div *ngIf="investors && investors.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="investorNo">
            <span jhiTranslate="pppInvestorApp.investor.investorNo">Investor No</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="companyName">
            <span jhiTranslate="pppInvestorApp.investor.companyName">Company Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="companyEstablishmentDate">
            <span jhiTranslate="pppInvestorApp.investor.companyEstablishmentDate">Company Establishment Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="representativeFullName">
            <span jhiTranslate="pppInvestorApp.investor.representativeFullName">Representative Full Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="investorStatus">
            <span jhiTranslate="pppInvestorApp.investor.investorStatus">Investor Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="businessField.name">
            <span jhiTranslate="pppInvestorApp.investor.businessField">Business Field</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investor of investors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/investor', investor.id, 'view']">{{ investor.id }}</a>
          </td>
          <td>{{ investor.investorNo }}</td>
          <td>{{ investor.companyName }}</td>
          <td>{{ investor.companyEstablishmentDate | formatMediumDate }}</td>
          <td>{{ investor.representativeFullName }}</td>
          <td
            jhiTranslate="{{ 'pppInvestorApp.InvestorStatus.' + investor.investorStatus }}"
            class="{{ investor.investorStatus | getColor }}"
          >
            {{ investor.investorStatus }}
          </td>
          <td>
            <div *ngIf="investor.businessField">
              <a [routerLink]="['/business-field', investor.businessField?.id, 'view']">{{ investor.businessField?.name }}</a>
            </div>
          </td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', investor.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button [routerLink]="['./', investor.id, 'edit']" mat-menu-item *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button (click)="delete(investor)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
