<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <br />
    <br />
    <h3 class="text-center">الاستعلام عن التسجيل</h3>
    <br />
    <br />

    <div class="row text-center">
      <form class="col-4 col-center-block mt-5">
        <mat-form-field appearance="outline" class="fill">
          <button (click)="search()" class="mr-2" mat-icon-button matPrefix type="submit">
            <mat-icon>search</mat-icon>
          </button>
          <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="ادخل رقم التسجيل" type="text" />
          <mat-hint align="start"> ادخل رقم التسجيل وقم بضغط رز البحث لعرض حالة التسجيل</mat-hint>
          <button (click)="clear()" *ngIf="currentSearch" class="ml-1" color="warn" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
    <!--        <div class="row text-center">-->
    <!--            <div class="col-4 col-center-block mt-5">-->
    <!--                <zxing-scanner></zxing-scanner>-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="row text-center">
      <div class="col-4 col-center-block mt-5">
        <button (click)="search()" color="primary" mat-raised-button>
          <mat-icon>search</mat-icon>
          استعلام عن التسجيل
        </button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col d-flex flex-column align-items-center pb-5 m-4">
        <mat-spinner *ngIf="isLoading" class="mt-5" diameter="50"></mat-spinner>
      </div>
    </div>
    <div class="row text-center">
      <div *ngIf="investor" class="col-10 col-center-block mt-5">
        <div class="row detail-row mt-3">
          <div class="col-4">
            <div class="text-muted">رقم التسجيل</div>
            <h6 matLine>{{ investor.id }}</h6>
          </div>
          <div class="col-4">
            <div class="text-muted">الاسم</div>
            <h6 matLine>{{ investor.companyName }}</h6>
          </div>
          <div class="col-4">
            <div class="text-muted">حالة التسجيل</div>
            <div
              jhiTranslate="{{ 'pppInvestorApp.InvestorStatus.' + investor.investorStatus }}"
              class="{{ investor.investorStatus | getColor }}"
            >
              {{ investor.investorStatus }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
