<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div class="d-flex align-items-center ml-4 mt-2">
      <button class="mr-auto" color="primary" mat-stroked-button [useExistingCss]="true" ngxPrint printSectionId="print-section">
        <mat-icon color="primary">print</mat-icon>
        طباعة بيانات المشروع
      </button>
    </div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <span> بيانات المشروع </span>
        </ng-template>
        <div class="m-4 mt-4" id="print-section">
          <br />
          <h4>المشروع {{ project?.id }}</h4>
          <br />
          <div *ngIf="project">
            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div jhiTranslate="pppInvestorApp.project.projectNo" class="text-muted">Project No</div>
                <h6 matLine>{{ project.projectNo }}</h6>
              </div>

              <div class="col-4">
                <div jhiTranslate="pppInvestorApp.project.name" class="text-muted">Name</div>
                <h6 matLine>{{ project.name }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted">حالة المشروع</div>
                <h6 matLine>
                  <span jhiTranslate="{{ 'pppInvestorApp.ProjectStatus.' + project.projectStatus }}">{{ project.projectStatus }}</span>
                </h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted">تكلفة المشروع</div>
                <h6 matLine>
                  {{ project.estimatedCost }}
                  <span jhiTranslate="{{ 'pppInvestorApp.Currency.' + project.estimatedCostCurrency }}">{{
                    project.estimatedCostCurrency
                  }}</span>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted">مجال العمل</div>
                <h6 matLine>
                  <div *ngIf="project.businessField">
                    <a>{{ project.businessField?.name }}</a>
                  </div>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted">المستثمر</div>
                <h6 matLine>
                  <div *ngIf="project.investor">
                    <a>{{ project.investor?.companyName }}</a>
                  </div>
                </h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted">الدولة</div>
                <h6 matLine>
                  <div *ngIf="project.country">
                    <a>{{ project.country?.name }}</a>
                  </div>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted">المدينة</div>
                <h6 matLine>
                  <div *ngIf="project.city">
                    <a>{{ project.city?.name }}</a>
                  </div>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted">الجهة المستفيدة</div>
                <h6 matLine>
                  <div *ngIf="project.orginization">
                    <a>{{ project.orginization?.name }}</a>
                  </div>
                </h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col">
                <div class="text-muted">تفاصيل المشروع</div>
                <h6 matLine>{{ project.details }}</h6>
              </div>
            </div>

            <mat-divider class="mt-2"></mat-divider>

            <div class="row mt-4">
              <div class="col-4 mt-2">
                <div class="detail-row">
                  <div class="text-muted">العنوان</div>
                  <h6 matLine>{{ project.address }}</h6>
                </div>
                <h5 class="mt-2">الموقع</h5>
                <div class="text-muted">خط طول</div>
                <h6 matLine>{{ project.lat }}</h6>

                <div class="text-muted">خط عرض</div>
                <h6 matLine>{{ project.lng }}</h6>
              </div>

              <div class="col-8">
                <agm-map
                  [disableDefaultUI]="false"
                  [latitude]="markers[0]?.lat"
                  [longitude]="markers[0]?.lng"
                  [zoomControl]="false"
                  [zoom]="12"
                >
                  <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng"> </agm-marker>
                </agm-map>
              </div>
            </div>

            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button
              type="button"
              [routerLink]="['/project', project.id, 'edit']"
              class="btn btn-primary"
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> مراحل تنفيذ المشروع ({{ milestones?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>مراحل المشروع</h4>
          <br />
          <div *ngIf="milestones && milestones.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>اسم المرحلة</span></th>
                  <th scope="col"><span>تفاصيل المرحلة</span></th>
                  <th scope="col"><span>ملاحظات</span></th>
                  <th scope="col"><span>تم انجازها</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let milestone of milestones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ milestone.name }}</td>
                  <td>{{ milestone.details }}</td>
                  <td>{{ milestone.notes }}</td>
                  <td>
                    <div *ngIf="milestone.isFinished" matTooltip="تم الانجاز" style="font-size: 30px">
                      <mat-icon [inline]="true" class="text-success">check_circle_outline</mat-icon>
                    </div>
                    <div *ngIf="!milestone.isFinished" matTooltip="غير منجزة" style="font-size: 30px">
                      <mat-icon [inline]="true" class="text-warning">info</mat-icon>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> المرفقات ({{ attachments?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>المرفقات</h4>
          <br />
          <div *ngIf="attachments && attachments.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>نوع الملف</span></th>
                  <th scope="col"><span>تفاصيل</span></th>
                  <th scope="col"><span>الملف</span></th>
                  <th scope="col"><span>تاريخ التحميل</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attachment of attachments; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td jhiTranslate="{{ 'pppInvestorApp.AttachmentType.' + attachment.attachmentType }}">{{ attachment.attachmentType }}</td>
                  <td>{{ attachment.name }}</td>
                  <td>
                    <button (click)="openFile(attachment.fileUrl)" color="primary" mat-raised-button id="jh-create-entity">
                      <span class="hidden-sm-down">عرض الملف</span>
                    </button>
                  </td>
                  <td>
                    <!--                      {{ attachment.createdDate | date:'yyyy-MM-dd' }}-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="false"></jhi-empty-content>
  </ng-template>
</div>
