<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="city">
      <h2 data-cy="cityDetailsHeading"><span jhiTranslate="pppInvestorApp.city.detail.title">City</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ city.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.city.name">Name</span></dt>
        <dd>
          <span>{{ city.name }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.city.nameAr">Name Ar</span></dt>
        <dd>
          <span>{{ city.nameAr }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.city.nameEn">Name En</span></dt>
        <dd>
          <span>{{ city.nameEn }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.city.lat">Lat</span></dt>
        <dd>
          <span>{{ city.lat }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.city.lng">Lng</span></dt>
        <dd>
          <span>{{ city.lng }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
