<div class="entity-container">
  <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <div class="row white-bg">
      <div class="mat-elevation-z1 p-3 round-card col-6">
        <p>المشاريع حسب الحالة</p>
        <canvas
          *ngIf="projectStatusPieChartData && projectStatusPieChartLabels"
          [data]="projectStatusPieChartData"
          [labels]="projectStatusPieChartLabels"
          chartType="pie"
          baseChart
        >
        </canvas>
      </div>
      <div class="mat-elevation-z1 p-3 round-card col-6">
        <p>المستثمرين حسب غرض الشركة</p>
        <canvas
          *ngIf="companyPurposeDoughnutChartData && companyPurposeDoughnutChartLabels"
          [data]="companyPurposeDoughnutChartData"
          [labels]="companyPurposeDoughnutChartLabels"
          chartType="doughnut"
          baseChart
        >
        </canvas>
      </div>
    </div>

    <div class="row align-items-center mt-3">
      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ pendingInvestorCount }}</h3>
          <p class="m-0">عدد المستثمرين بانتظار الموافقة</p>
        </div>
        <mat-icon class="big-icon mr-auto" color="primary">account_circle</mat-icon>
      </div>

      <span class="mx-2"></span>
      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ approvedInvestorCount }}</h3>
          <p class="m-0">عدد المستثمرين المؤكدين</p>
        </div>
        <mat-icon class="big-icon mr-auto" color="primary">account_circle</mat-icon>
      </div>

      <span class="mx-2"></span>

      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ investorCount }}</h3>
          <p class="m-0">عدد المستثمرين</p>
        </div>
        <mat-icon class="big-icon mr-auto" color="primary">payment</mat-icon>
      </div>

      <span class="mx-2"></span>
      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col white-bg">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ projectsCount }}</h3>
          <p class="m-0">عدد المشاريع</p>
        </div>
        <mat-icon class="big-icon mr-auto" color="primary">business</mat-icon>
      </div>
    </div>
  </div>
</div>
