<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="pppInvestorApp.paymentReceipt.home.title">Payment Receipts</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TREASURY']">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="pppInvestorApp.paymentReceipt.home.createLabel"> Create a new Payment Receipt </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <button *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير بالايصالات
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div
    class="table-responsive"
    id="entities"
    *ngIf="paymentReceipts && paymentReceipts.length > 0; else emptyContent"
    class="col-12 p-0 mat-elevation-z1 mt-3"
    id="entities"
  >
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="pppInvestorApp.paymentReceipt.amount">Amount</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="details">
            <span jhiTranslate="pppInvestorApp.paymentReceipt.details">Details</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="receiptDate">
            <span jhiTranslate="pppInvestorApp.paymentReceipt.receiptDate">Receipt Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="investor.companyName">
            <span jhiTranslate="pppInvestorApp.paymentReceipt.investor">Investor</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentReceipt of paymentReceipts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-receipt', paymentReceipt.id, 'view']">{{ paymentReceipt.id }}</a>
          </td>
          <td>{{ paymentReceipt.amount }}</td>
          <td>{{ paymentReceipt.details }}</td>
          <td>{{ paymentReceipt.receiptDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="paymentReceipt.investor">
              <a [routerLink]="['/investor', paymentReceipt.investor?.id, 'view']">{{ paymentReceipt.investor?.companyName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-receipt', paymentReceipt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-receipt', paymentReceipt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentReceipt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
