<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div class="d-flex align-items-center ml-4 mt-2">
      <button class="mr-auto" color="primary" mat-stroked-button [useExistingCss]="true" ngxPrint printSectionId="print-section">
        <mat-icon color="primary">print</mat-icon>
        طباعة الواصل
      </button>
    </div>

    <div *ngIf="paymentReceipt">
      <h2 data-cy="paymentReceiptDetailsHeading"><span jhiTranslate="pppInvestorApp.paymentReceipt.detail.title">Payment Receipt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details" id="print-section">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paymentReceipt.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.paymentReceipt.amount">Amount</span></dt>
        <dd>
          <span>{{ paymentReceipt.amount }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.paymentReceipt.details">Details</span></dt>
        <dd>
          <span>{{ paymentReceipt.details }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.paymentReceipt.receiptDate">Receipt Date</span></dt>
        <dd>
          <span>{{ paymentReceipt.receiptDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.paymentReceipt.investor">Investor</span></dt>
        <dd>
          <div *ngIf="paymentReceipt.investor">
            <a [routerLink]="['/investor', paymentReceipt.investor?.id, 'view']">{{ paymentReceipt.investor?.companyName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-receipt', paymentReceipt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
