<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div class="col-12">
      <div class="text-left" *jhiHasAnyAuthority="['ROLE_ADMIN']">
        <button
          [disabled]="isSaving"
          (click)="approveInvestor(investor?.id)"
          *ngIf="investor?.investorStatus == 'PENDING'"
          class="text-success mr-auto"
          color="primary"
          mat-stroked-button
        >
          تأكيد البيانات وانشاء رقم مستثمر
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </div>
    </div>

    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <span> بيانات المستثمر </span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>بيانات المستثمر {{ investor?.id }}</h4>
          <br />

          <div *ngIf="investor">
            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.investorNo">Investor No</div>
                <h6 matLine>{{ investor.investorNo }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyName">Company Name</div>
                <h6 matLine>{{ investor.companyName }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted">حالة المستثمر</div>
                <h6 matLine>
                  <span jhiTranslate="{{ 'pppInvestorApp.InvestorStatus.' + investor.investorStatus }}">{{ investor.investorStatus }}</span>
                </h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyPurpose">Company Purpose</div>
                <h6 matLine>
                  <span jhiTranslate="{{ 'pppInvestorApp.CompanyPurpose.' + investor.companyPurpose }}">{{ investor.companyPurpose }}</span>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyRegisterNo">Company Register No</div>
                <h6 matLine>{{ investor.companyRegisterNo }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyTradeChamberNo">Company Trade Chamber No</div>
                <h6 matLine>{{ investor.companyTradeChamberNo }}</h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyEstablishmentDate">Company Establishment Date</div>
                <h6 matLine>{{ investor.companyEstablishmentDate | formatMediumDate }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyMobileNo">Company Mobile No</div>
                <h6 matLine>{{ investor.companyMobileNo }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyEmail">Company Email</div>
                <h6 matLine>{{ investor.companyEmail }}</h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyCapital">Company Capital</div>
                <h6 matLine>
                  {{ investor.companyCapital }}
                  <span jhiTranslate="{{ 'pppInvestorApp.Currency.' + investor.companyCapitalCurrency }}">{{
                    investor.companyCapitalCurrency
                  }}</span>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyCapitalText">Company Capital Text</div>
                <h6 matLine>
                  {{ investor.companyCapitalText }}
                  <span jhiTranslate="{{ 'pppInvestorApp.Currency.' + investor.companyCapitalCurrency }}">{{
                    investor.companyCapitalCurrency
                  }}</span>
                </h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyWebsite">Company Website</div>
                <h6 matLine>{{ investor.companyWebsite }}</h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyForeignEmployeeNo">Company Foreign Employee No</div>
                <h6 matLine>{{ investor.companyForeignEmployeeNo }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyLocalEmployeeNo">Company Local Employee No</div>
                <h6 matLine>{{ investor.companyLocalEmployeeNo }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyWebsite">Company Website</div>
                <h6 matLine>{{ investor.companyWebsite }}</h6>
              </div>
            </div>

            <br />
            <h4>بيانات الممثل القانوني</h4>
            <br />

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.representativeFullName">Representative Full Name</div>
                <h6 matLine>{{ investor.representativeFullName }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.representativeMobileNo">Representative Mobile No</div>
                <h6 matLine>{{ investor.representativeMobileNo }}</h6>
              </div>

              <div class="col-4" *ngIf="investor.isRepresentativeForeign == false">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.representativeNationalNo">Representative National No</div>
                <h6 matLine>{{ investor.representativeNationalNo }}</h6>
              </div>

              <div class="col-4" *ngIf="investor.isRepresentativeForeign == true">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.representativePassportNo">Representative Passport No</div>
                <h6 matLine>{{ investor.representativePassportNo }}</h6>
              </div>
            </div>

            <div class="row detail-row mt-4">
              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyAddress">Company Address</div>
                <h6 matLine>{{ investor.companyAddress }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.companyCountry">Company Country</div>
                <h6 matLine>{{ investor.representativeCountry?.id }}</h6>
              </div>

              <div class="col-4">
                <div class="text-muted" jhiTranslate="pppInvestorApp.investor.businessField">Business Field</div>
                <h6 matLine>{{ investor.businessField?.name }}</h6>
              </div>
            </div>

            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button
              type="button"
              [routerLink]="['/investor', investor.id, 'edit']"
              class="btn btn-primary"
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> المرفقات ({{ attachments?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>المرفقات</h4>
          <br />
          <div *ngIf="attachments && attachments.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>نوع الملف</span></th>
                  <th scope="col"><span>تفاصيل</span></th>
                  <th scope="col"><span>الملف</span></th>
                  <th scope="col"><span>تاريخ التحميل</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attachment of attachments; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td jhiTranslate="{{ 'pppInvestorApp.AttachmentType.' + attachment.attachmentType }}">{{ attachment.attachmentType }}</td>
                  <td>{{ attachment.name }}</td>
                  <td>
                    <button (click)="openFile(attachment.fileUrl)" color="primary" mat-raised-button id="jh-create-entity">
                      <span class="hidden-sm-down">عرض الملف</span>
                    </button>
                  </td>
                  <td>
                    <!--                      {{ attachment.createdDate | date:'yyyy-MM-dd' }}-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> المشاريع ({{ projects?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>المشاريع</h4>
          <br />
          <div *ngIf="projects && projects.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>رقم المشروع</span></th>
                  <th scope="col"><span>اسم المشروع</span></th>
                  <th scope="col"><span>حالة المشروع</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ project.projectNo }}</td>
                  <td>{{ project.name }}</td>
                  <td>
                    <span jhiTranslate="{{ 'pppInvestorApp.ProjectStatus.' + project.projectStatus }}">{{ project.projectStatus }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> الحسابات المصرفية ({{ bankAccounts?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>الحسابات المصرفية</h4>
          <br />
          <div *ngIf="bankAccounts && bankAccounts.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>رقم الحساب</span></th>
                  <th scope="col"><span>اسم الفرع</span></th>
                  <th scope="col"><span>اسم المصرف</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bankAccount of bankAccounts; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ bankAccount.accountNo }}</td>
                  <td>{{ bankAccount.bankBranchName }}</td>
                  <td>{{ bankAccount.bank?.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="false"></jhi-empty-content>
  </ng-template>
</div>
