<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="milestone">
      <h2 data-cy="milestoneDetailsHeading"><span jhiTranslate="pppInvestorApp.milestone.detail.title">Milestone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ milestone.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.name">Name</span></dt>
        <dd>
          <span>{{ milestone.name }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.details">Details</span></dt>
        <dd>
          <span>{{ milestone.details }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.order">Order</span></dt>
        <dd>
          <span>{{ milestone.order }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.isFinished">Is Finished</span></dt>
        <dd>
          <span>{{ milestone.isFinished }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.details">Details</span></dt>
        <dd>
          <span>{{ milestone.details }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.milestone.project">Project</span></dt>
        <dd>
          <div *ngIf="milestone.project">
            <a [routerLink]="['/project', milestone.project?.id, 'view']">{{ milestone.project?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/milestone', milestone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
