<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="businessField">
      <h2 data-cy="businessFieldDetailsHeading"><span jhiTranslate="pppInvestorApp.businessField.detail.title">Business Field</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ businessField.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.businessField.businessFieldNo">Business Field No</span></dt>
        <dd>
          <span>{{ businessField.businessFieldNo }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.businessField.name">Name</span></dt>
        <dd>
          <span>{{ businessField.name }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.businessField.nameAr">Name Ar</span></dt>
        <dd>
          <span>{{ businessField.nameAr }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.businessField.nameEn">Name En</span></dt>
        <dd>
          <span>{{ businessField.nameEn }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/business-field', businessField.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
