<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-receipt-heading"
        data-cy="PaymentReceiptCreateUpdateHeading"
        jhiTranslate="pppInvestorApp.paymentReceipt.home.createOrEditLabel"
      >
        Create or edit a Payment Receipt
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.paymentReceipt.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.paymentReceipt.details" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.paymentReceipt.receiptDate" for="field_receiptDate"
            >Receipt Date</label
          >
          <div class="input-group">
            <input
              id="field_receiptDate"
              data-cy="receiptDate"
              type="text"
              class="form-control"
              name="receiptDate"
              ngbDatepicker
              #receiptDateDp="ngbDatepicker"
              formControlName="receiptDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="receiptDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.paymentReceipt.investor" for="field_investor">Investor</label>
          <select class="form-control" id="field_investor" data-cy="investor" name="investor" formControlName="investor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="investorOption.id === editForm.get('investor')!.value?.id ? editForm.get('investor')!.value : investorOption"
              *ngFor="let investorOption of investorsSharedCollection; trackBy: trackInvestorById"
            >
              {{ investorOption.companyName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
