<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-attachment-heading"
        data-cy="AttachmentCreateUpdateHeading"
        jhiTranslate="pppInvestorApp.attachment.home.createOrEditLabel"
      >
        Create or edit a Attachment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.attachmentType" for="field_attachmentType"
            >Attachment Type</label
          >
          <select
            class="form-control"
            name="attachmentType"
            formControlName="attachmentType"
            id="field_attachmentType"
            data-cy="attachmentType"
          >
            <option [ngValue]="null">{{ 'pppInvestorApp.AttachmentType.null' | translate }}</option>
            <option *ngFor="let attachmentType of attachmentTypeValues" [value]="attachmentType">
              {{ 'pppInvestorApp.AttachmentType.' + attachmentType | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.file" for="field_file">File</label>
          <div>
            <div *ngIf="editForm.get('file')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('file')!.value, editForm.get('fileContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left">{{ editForm.get('fileContentType')!.value }}, {{ byteSize(editForm.get('file')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ file: null }); editForm.patchValue({ fileContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_file"
              data-cy="file"
              (change)="setFileData($event, 'file', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="file" id="field_file" data-cy="file" formControlName="file" />
          <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType" formControlName="fileContentType" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.fileUrl" for="field_fileUrl">File Url</label>
          <input type="text" class="form-control" name="fileUrl" id="field_fileUrl" data-cy="fileUrl" formControlName="fileUrl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.investor" for="field_investor">Investor</label>
          <select class="form-control" id="field_investor" data-cy="investor" name="investor" formControlName="investor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="investorOption.id === editForm.get('investor')!.value?.id ? editForm.get('investor')!.value : investorOption"
              *ngFor="let investorOption of investorsSharedCollection; trackBy: trackInvestorById"
            >
              {{ investorOption.companyName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.attachment.project" for="field_project">Project</label>
          <select class="form-control" id="field_project" data-cy="project" name="project" formControlName="project">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="projectOption.id === editForm.get('project')!.value?.id ? editForm.get('project')!.value : projectOption"
              *ngFor="let projectOption of projectsSharedCollection; trackBy: trackProjectById"
            >
              {{ projectOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
