<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-investor-heading" data-cy="InvestorCreateUpdateHeading" jhiTranslate="pppInvestorApp.investor.home.createOrEditLabel">
        Create or edit a Investor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.investorNo" for="field_investorNo">Investor No</label>
          <input
            type="text"
            class="form-control"
            name="investorNo"
            id="field_investorNo"
            data-cy="investorNo"
            formControlName="investorNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyName" for="field_companyName">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
          <div *ngIf="editForm.get('companyName')!.invalid && (editForm.get('companyName')!.dirty || editForm.get('companyName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('companyName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyPurpose" for="field_companyPurpose"
            >Company Purpose</label
          >
          <select
            class="form-control"
            name="companyPurpose"
            formControlName="companyPurpose"
            id="field_companyPurpose"
            data-cy="companyPurpose"
          >
            <option [ngValue]="null">{{ 'pppInvestorApp.CompanyPurpose.null' | translate }}</option>
            <option *ngFor="let companyPurpose of companyPurposeValues" [value]="companyPurpose">
              {{ 'pppInvestorApp.CompanyPurpose.' + companyPurpose | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyRegisterNo" for="field_companyRegisterNo"
            >Company Register No</label
          >
          <input
            type="text"
            class="form-control"
            name="companyRegisterNo"
            id="field_companyRegisterNo"
            data-cy="companyRegisterNo"
            formControlName="companyRegisterNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.companyForeignEmployeeNo"
            for="field_companyForeignEmployeeNo"
            >Company Foreign Employee No</label
          >
          <input
            type="number"
            class="form-control"
            name="companyForeignEmployeeNo"
            id="field_companyForeignEmployeeNo"
            data-cy="companyForeignEmployeeNo"
            formControlName="companyForeignEmployeeNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyLocalEmployeeNo" for="field_companyLocalEmployeeNo"
            >Company Local Employee No</label
          >
          <input
            type="number"
            class="form-control"
            name="companyLocalEmployeeNo"
            id="field_companyLocalEmployeeNo"
            data-cy="companyLocalEmployeeNo"
            formControlName="companyLocalEmployeeNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyTradeChamberNo" for="field_companyTradeChamberNo"
            >Company Trade Chamber No</label
          >
          <input
            type="text"
            class="form-control"
            name="companyTradeChamberNo"
            id="field_companyTradeChamberNo"
            data-cy="companyTradeChamberNo"
            formControlName="companyTradeChamberNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.companyEstablishmentDate"
            for="field_companyEstablishmentDate"
            >Company Establishment Date</label
          >
          <div class="input-group">
            <input
              id="field_companyEstablishmentDate"
              data-cy="companyEstablishmentDate"
              type="text"
              class="form-control"
              name="companyEstablishmentDate"
              ngbDatepicker
              #companyEstablishmentDateDp="ngbDatepicker"
              formControlName="companyEstablishmentDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="companyEstablishmentDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyMobileNo" for="field_companyMobileNo"
            >Company Mobile No</label
          >
          <input
            type="text"
            class="form-control"
            name="companyMobileNo"
            id="field_companyMobileNo"
            data-cy="companyMobileNo"
            formControlName="companyMobileNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyEmail" for="field_companyEmail"
            >Company Email</label
          >
          <input
            type="text"
            class="form-control"
            name="companyEmail"
            id="field_companyEmail"
            data-cy="companyEmail"
            formControlName="companyEmail"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyWebsite" for="field_companyWebsite"
            >Company Website</label
          >
          <input
            type="text"
            class="form-control"
            name="companyWebsite"
            id="field_companyWebsite"
            data-cy="companyWebsite"
            formControlName="companyWebsite"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyAddress" for="field_companyAddress"
            >Company Address</label
          >
          <input
            type="text"
            class="form-control"
            name="companyAddress"
            id="field_companyAddress"
            data-cy="companyAddress"
            formControlName="companyAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyCapital" for="field_companyCapital"
            >Company Capital</label
          >
          <input
            type="text"
            class="form-control"
            name="companyCapital"
            id="field_companyCapital"
            data-cy="companyCapital"
            formControlName="companyCapital"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyCapitalText" for="field_companyCapitalText"
            >Company Capital Text</label
          >
          <input
            type="text"
            class="form-control"
            name="companyCapitalText"
            id="field_companyCapitalText"
            data-cy="companyCapitalText"
            formControlName="companyCapitalText"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyCapitalCurrency" for="field_companyCapitalCurrency"
            >Company Capital Currency</label
          >
          <select
            class="form-control"
            name="companyCapitalCurrency"
            formControlName="companyCapitalCurrency"
            id="field_companyCapitalCurrency"
            data-cy="companyCapitalCurrency"
          >
            <option [ngValue]="null">{{ 'pppInvestorApp.Currency.null' | translate }}</option>
            <option *ngFor="let currency of currencyValues" [value]="currency">
              {{ 'pppInvestorApp.Currency.' + currency | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.representativeFullName" for="field_representativeFullName"
            >Representative Full Name</label
          >
          <input
            type="text"
            class="form-control"
            name="representativeFullName"
            id="field_representativeFullName"
            data-cy="representativeFullName"
            formControlName="representativeFullName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.representativeMobileNo" for="field_representativeMobileNo"
            >Representative Mobile No</label
          >
          <input
            type="text"
            class="form-control"
            name="representativeMobileNo"
            id="field_representativeMobileNo"
            data-cy="representativeMobileNo"
            formControlName="representativeMobileNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.representativeNationalNo"
            for="field_representativeNationalNo"
            >Representative National No</label
          >
          <input
            type="text"
            class="form-control"
            name="representativeNationalNo"
            id="field_representativeNationalNo"
            data-cy="representativeNationalNo"
            formControlName="representativeNationalNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.representativeRegisterNo"
            for="field_representativeRegisterNo"
            >Representative Register No</label
          >
          <input
            type="text"
            class="form-control"
            name="representativeRegisterNo"
            id="field_representativeRegisterNo"
            data-cy="representativeRegisterNo"
            formControlName="representativeRegisterNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.representativePassportNo"
            for="field_representativePassportNo"
            >Representative Passport No</label
          >
          <input
            type="text"
            class="form-control"
            name="representativePassportNo"
            id="field_representativePassportNo"
            data-cy="representativePassportNo"
            formControlName="representativePassportNo"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="pppInvestorApp.investor.isRepresentativeForeign"
            for="field_isRepresentativeForeign"
            >Is Representative Foreign</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isRepresentativeForeign"
            id="field_isRepresentativeForeign"
            data-cy="isRepresentativeForeign"
            formControlName="isRepresentativeForeign"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.investorStatus" for="field_investorStatus"
            >Investor Status</label
          >
          <select
            class="form-control"
            name="investorStatus"
            formControlName="investorStatus"
            id="field_investorStatus"
            data-cy="investorStatus"
          >
            <option [ngValue]="null">{{ 'pppInvestorApp.InvestorStatus.null' | translate }}</option>
            <option *ngFor="let investorStatus of investorStatusValues" [value]="investorStatus">
              {{ 'pppInvestorApp.InvestorStatus.' + investorStatus | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyCity" for="field_companyCity">Company City</label>
          <select class="form-control" id="field_companyCity" data-cy="companyCity" name="companyCity" formControlName="companyCity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cityOption.id === editForm.get('companyCity')!.value?.id ? editForm.get('companyCity')!.value : cityOption"
              *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
            >
              {{ cityOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.companyCountry" for="field_companyCountry"
            >Company Country</label
          >
          <select
            class="form-control"
            id="field_companyCountry"
            data-cy="companyCountry"
            name="companyCountry"
            formControlName="companyCountry"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                countryOption.id === editForm.get('companyCountry')!.value?.id ? editForm.get('companyCountry')!.value : countryOption
              "
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.representativeCity" for="field_representativeCity"
            >Representative City</label
          >
          <select
            class="form-control"
            id="field_representativeCity"
            data-cy="representativeCity"
            name="representativeCity"
            formControlName="representativeCity"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                cityOption.id === editForm.get('representativeCity')!.value?.id ? editForm.get('representativeCity')!.value : cityOption
              "
              *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
            >
              {{ cityOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.representativeCountry" for="field_representativeCountry"
            >Representative Country</label
          >
          <select
            class="form-control"
            id="field_representativeCountry"
            data-cy="representativeCountry"
            name="representativeCountry"
            formControlName="representativeCountry"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                countryOption.id === editForm.get('representativeCountry')!.value?.id
                  ? editForm.get('representativeCountry')!.value
                  : countryOption
              "
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.investor.businessField" for="field_businessField"
            >Business Field</label
          >
          <select
            class="form-control"
            id="field_businessField"
            data-cy="businessField"
            name="businessField"
            formControlName="businessField"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                businessFieldOption.id === editForm.get('businessField')!.value?.id
                  ? editForm.get('businessField')!.value
                  : businessFieldOption
              "
              *ngFor="let businessFieldOption of businessFieldsSharedCollection; trackBy: trackBusinessFieldById"
            >
              {{ businessFieldOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
