<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="attachment">
      <h2 data-cy="attachmentDetailsHeading"><span jhiTranslate="pppInvestorApp.attachment.detail.title">Attachment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attachment.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.name">Name</span></dt>
        <dd>
          <span>{{ attachment.name }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.attachmentType">Attachment Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pppInvestorApp.AttachmentType.' + attachment.attachmentType }}">{{ attachment.attachmentType }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.file">File</span></dt>
        <dd>
          <div *ngIf="attachment.file">
            <a (click)="openFile(attachment.file, attachment.fileContentType)" jhiTranslate="entity.action.open">open</a>
            {{ attachment.fileContentType }}, {{ byteSize(attachment.file) }}
          </div>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.fileUrl">File Url</span></dt>
        <dd>
          <span>{{ attachment.fileUrl }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.notes">Notes</span></dt>
        <dd>
          <span>{{ attachment.notes }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.investor">Investor</span></dt>
        <dd>
          <div *ngIf="attachment.investor">
            <a [routerLink]="['/investor', attachment.investor?.id, 'view']">{{ attachment.investor?.companyName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.attachment.project">Project</span></dt>
        <dd>
          <div *ngIf="attachment.project">
            <a [routerLink]="['/project', attachment.project?.id, 'view']">{{ attachment.project?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/attachment', attachment.id, 'edit']"
        class="btn btn-primary"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
