<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="pppInvestorApp.project.home.title">Projects</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center" *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="pppInvestorApp.project.home.createLabel"> Create a new Project </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <button *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير بالمشاريع
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div *ngIf="projects && projects.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="pppInvestorApp.project.name">Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectStatus">
            <span jhiTranslate="pppInvestorApp.project.projectStatus">Project Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="businessField.name">
            <span jhiTranslate="pppInvestorApp.project.businessField">Business Field</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city.name">
            <span jhiTranslate="pppInvestorApp.project.city">City</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country.name">
            <span jhiTranslate="pppInvestorApp.project.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="investor.companyName">
            <span jhiTranslate="pppInvestorApp.project.investor">Investor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="orginization.name">
            <span jhiTranslate="pppInvestorApp.project.orginization">Orginization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
          </td>
          <td>{{ project.name }}</td>
          <td jhiTranslate="{{ 'pppInvestorApp.ProjectStatus.' + project.projectStatus }}" class="{{ project.projectStatus | getColor }}">
            {{ project.projectStatus }}
          </td>
          <td>
            <div *ngIf="project.businessField">
              <a [routerLink]="['/business-field', project.businessField?.id, 'view']">{{ project.businessField?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="project.city">
              <a [routerLink]="['/city', project.city?.id, 'view']">{{ project.city?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="project.country">
              <a [routerLink]="['/country', project.country?.id, 'view']">{{ project.country?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="project.investor">
              <a [routerLink]="['/investor', project.investor?.id, 'view']">{{ project.investor?.companyName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="project.orginization">
              <a [routerLink]="['/orginization', project.orginization?.id, 'view']">{{ project.orginization?.name }}</a>
            </div>
          </td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', project.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button [routerLink]="['./', project.id, 'edit']" mat-menu-item *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button (click)="delete(project)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
