<div class="entity-container">
  <div class="mat-elevation-z1 py-4 round-card p-3">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
      <h3 jhiTranslate="pppInvestorApp.investor.register.title">التسجيل كمستثمر جديد</h3>
      <br />
      <mat-horizontal-stepper #stepper [linear]="false" labelPosition="bottom">
        <mat-step editable="true">
          <ng-template matStepLabel><span jhiTranslate="pppInvestorApp.investor.register.personalInfo">البيانات الشخصية</span></ng-template>

          <div class="container-fluid">
            <br />
            <br />
            <h5 jhiTranslate="pppInvestorApp.investor.register.personalInfo">الرجاء ادخال بياناتك الشخصية</h5>
            <br />

            <div class="row">
              <mat-checkbox formControlName="isRepresentativeForeign" class="col-lg-6 col-sm-12">أجنبي الجنسية ؟ </mat-checkbox>
            </div>

            <div *ngIf="!editForm.get('isRepresentativeForeign')!.value" class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>الرقم الوطني</mat-label>
                <input
                  formControlName="representativeNationalNo"
                  matInput
                  name="representativeNationalNo"
                  required
                  type="text"
                  maxlength="12"
                />
                <div
                  *ngIf="
                    editForm.get('representativeNationalNo')!.invalid &&
                    (editForm.get('representativeNationalNo')!.dirty || editForm.get('representativeNationalNo')!.touched)
                  "
                >
                  <small *ngIf="editForm.get('representativeNationalNo')?.errors?.required" class="form-text text-danger">
                    هذا الحقل مطلوب.
                  </small>
                </div>
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>رقم القيد (بالسجل المدني)</mat-label>
                <input formControlName="representativeRegisterNo" matInput name="representativeRegisterNo" required type="text" />
                <div
                  *ngIf="
                    editForm.get('representativeRegisterNo')!.invalid &&
                    (editForm.get('representativeRegisterNo')!.dirty || editForm.get('representativeRegisterNo')!.touched)
                  "
                >
                  <small *ngIf="editForm.get('representativeRegisterNo')?.errors?.required" class="form-text text-danger">
                    هذا الحقل مطلوب.
                  </small>
                </div>
              </mat-form-field>
            </div>

            <div *ngIf="editForm.get('isRepresentativeForeign')!.value" class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>رقم جواز السفر</mat-label>
                <input formControlName="representativePassportNo" matInput name="representativePassportNo" type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>الجنسية</mat-label>
                <mat-select formControlName="representativeCountry" name="representativeCountry">
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    [value]="
                      representativeCountryOption.id === editForm.get('representativeCountry')!.value?.id
                        ? editForm.get('representativeCountry')!.value
                        : representativeCountryOption
                    "
                    *ngFor="let representativeCountryOption of countriesSharedCollection; trackBy: trackCountryById"
                  >
                    {{ representativeCountryOption.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>رقم الهاتف</mat-label>
                <input formControlName="representativeMobileNo" matInput name="representativeMobileNo" required type="text" />
                <mat-error>
                  <span [hidden]="!editForm.controls.ownerMobileNo?.errors?.required">هذا الحقل مطلوب</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg-6 col-sm-12">
                <mat-label>الاسم التلاتي</mat-label>
                <input formControlName="representativeFullName" matInput name="representativeFullName" type="text" required />
                <div
                  *ngIf="
                    editForm.get('representativeFullName')!.invalid &&
                    (editForm.get('representativeFullName')!.dirty || editForm.get('representativeFullName')!.touched)
                  "
                >
                  <small *ngIf="editForm.get('representativeFullName')?.errors?.required" class="form-text text-danger">
                    هذا الحقل مطلوب.
                  </small>
                </div>
              </mat-form-field>
            </div>

            <br />
            <br />
            <div class="d-flex flex-row-reverse">
              <button (click)="stepper.next()" color="primary" mat-raised-button type="button">
                <span jhiTranslate="pppInvestorApp.investor.register.next">Next</span>
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step editable="true">
          <ng-template matStepLabel><span jhiTranslate="pppInvestorApp.investor.register.companyInfo">بيانات الشركة</span></ng-template>
          <div class="container-fluid">
            <br />
            <br />
            <h5 jhiTranslate="pppInvestorApp.investor.register.pleaseEnterCompanyInfo">الرجاء ادخال بيانات الشركة</h5>
            <br />
            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg col-sm" required>
                <mat-label>اسم الشركة</mat-label>
                <input formControlName="companyName" matInput name="companyName" type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>غرض الشركة</mat-label>
                <mat-select formControlName="companyPurpose" name="companyPurpose" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let companyPurpose of companyPurposeValues" [value]="companyPurpose">
                    {{ 'pppInvestorApp.CompanyPurpose.' + companyPurpose | translate }}
                  </mat-option>
                </mat-select>
                <div
                  *ngIf="
                    editForm.get('companyPurpose')!.invalid &&
                    (editForm.get('companyPurpose')!.dirty || editForm.get('companyPurpose')!.touched)
                  "
                >
                  <mat-error *ngIf="editForm.get('companyPurpose')?.errors?.required"> هذا الحقل مطلوب.</mat-error>
                </div>
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm" required>
                <mat-label>رقم السجل التجاري</mat-label>
                <input formControlName="companyRegisterNo" matInput name="companyRegisterNo" type="text" />
              </mat-form-field>
            </div>

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col" required>
                <mat-label>تاريخ التأسيس</mat-label>
                <input
                  formControlName="companyEstablishmentDate"
                  [matDatepicker]="picker"
                  matInput
                  required
                  type="text"
                  name="companyEstablishmentDate"
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>هذا الحقل مطلوب</mat-error>
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>رقم الغرفة التجارية</mat-label>
                <input formControlName="companyTradeChamberNo" matInput name="companyTradeChamberNo" type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm" required>
                <mat-label>رقم هاتف الشركة</mat-label>
                <input formControlName="companyMobileNo" matInput name="companyMobileNo" type="text" />
              </mat-form-field>
            </div>

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg col-sm" required>
                <mat-label>البريد الالكتروني</mat-label>
                <input formControlName="companyEmail" matInput name="companyEmail" type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>الموقع الالكتروني</mat-label>
                <input formControlName="companyWebsite" matInput name="companyWebsite" type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm" required>
                <mat-label>العنوان</mat-label>
                <input formControlName="companyAddress" matInput name="companyAddress" type="text" />
              </mat-form-field>
            </div>

            <div class="row align-items-center">
              <mat-form-field (change)="getCapitalText()" appearance="standard" class="col-lg col-sm" required>
                <mat-label>رأس مال الشركة</mat-label>
                <input formControlName="companyCapital" matInput name="companyCapital" type="number" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>رأس المال بالحروف</mat-label>
                <input [value]="getCapitalText()" matInput readonly type="text" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>نوع العملة</mat-label>
                <mat-select formControlName="currency" name="currency" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let currency of currencyValues" [value]="currency">
                    {{ 'pppInvestorApp.Currency.' + currency | translate }}
                  </mat-option>
                </mat-select>
                <div
                  *ngIf="
                    editForm.get('companyCapitalCurrency')!.invalid &&
                    (editForm.get('companyCapitalCurrency')!.dirty || editForm.get('companyCapitalCurrency')!.touched)
                  "
                >
                  <mat-error *ngIf="editForm.get('companyCapitalCurrency')?.errors?.required"> هذا الحقل مطلوب. </mat-error>
                </div>
              </mat-form-field>
            </div>

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>عدد العمالة الوطنية</mat-label>
                <input formControlName="companyForeignEmployeeNo" matInput name="companyForeignEmployeeNo" type="number" />
              </mat-form-field>
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>عدد العمالة الاجنبية</mat-label>
                <input formControlName="companyLocalEmployeeNo" matInput name="companyLocalEmployeeNo" type="number" />
              </mat-form-field>
              <div class="col-lg col-sm"></div>
            </div>

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>مجال العمل</mat-label>
                <mat-select formControlName="businessField" name="businessField" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    [value]="
                      businessFieldOption.id === editForm.get('businessField')!.value?.id
                        ? editForm.get('businessField')!.value
                        : businessFieldOption
                    "
                    *ngFor="let businessFieldOption of businessFieldsSharedCollection; trackBy: trackBusinessFieldById"
                  >
                    {{ businessFieldOption.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>جنسية الشركة</mat-label>
                <mat-select formControlName="companyCountry" name="companyCountry" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    [value]="
                      companyCountryOption.id === editForm.get('companyCountry')!.value?.id
                        ? editForm.get('companyCountry')!.value
                        : companyCountryOption
                    "
                    *ngFor="let companyCountryOption of countriesSharedCollection; trackBy: trackCountryById"
                  >
                    {{ companyCountryOption.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="col-lg col-sm"></div>
            </div>
          </div>
          <mat-divider class="my-3"></mat-divider>
          <div class="d-flex flex-row-reverse">
            <button (click)="stepper.next()" class="mr-4" color="primary" mat-raised-button type="button">
              <span jhiTranslate="pppInvestorApp.investor.register.next">Next</span>
            </button>
            <button mat-raised-button matStepperPrevious color="primary" mat-raised-button type="button" class="ml-2">
              <span jhiTranslate="pppInvestorApp.investor.register.back">Back</span>
            </button>
          </div>
        </mat-step>

        <mat-step editable="true">
          <ng-template matStepLabel><span jhiTranslate="pppInvestorApp.investor.register.attachments">attachments</span> </ng-template>
          <div class="container-fluid">
            <br />
            <h4 jhiTranslate="pppInvestorApp.investor.register.pleaseUpload">الرجاء تحميل الملفات المطلوبة</h4>
            <br />

            <div class="m-4 mt-4">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon class="ml-2">add</mat-icon>
                      <span jhiTranslate="pppInvestorApp.investor.register.addFile">addFile</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="row">
                    <mat-form-field appearance="standard" class="col-lg col-sm">
                      <mat-label jhiTranslate="pppInvestorApp.investor.register.fileType">نوع المرفق</mat-label>
                      <mat-select formControlName="attachmentType">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let attachmentType of attachmentTypeValues" [value]="attachmentType">
                          {{ 'pppInvestorApp.AttachmentType.' + attachmentType | translate }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="col">
                      <div class="row">
                        <div class="form-group">
                          <label class="form-control-label" for="field_file" jhiTranslate="pppInvestorApp.investor.register.file"
                            >الملف</label
                          >
                          <div>
                            <div *ngIf="editForm.get('file')!.value" class="form-text text-danger clearfix">
                              <a
                                class="pull-left"
                                (click)="openUploadedFile(editForm.get('file')!.value, editForm.get('fileContentType')!.value)"
                                >open</a
                              ><br />
                              <span class="pull-left"
                                >{{ editForm.get('fileContentType')!.value }} , {{ byteSize(editForm.get('file')!.value) }}</span
                              >
                              <button
                                type="button"
                                (click)="editForm.patchValue({ file: null }); editForm.patchValue({ fileContentType: null })"
                                class="btn btn-secondary btn-xs pull-right"
                              >
                                <fa-icon icon="times"></fa-icon>
                              </button>
                            </div>
                            <input type="file" id="file_file" data-cy="file" (change)="setFileData($event, 'file', false)" />
                          </div>
                          <input type="hidden" class="form-control" name="file" id="field_file" data-cy="file" formControlName="file" />
                          <input
                            type="hidden"
                            class="form-control"
                            name="fileContentType"
                            id="field_fileContentType"
                            formControlName="fileContentType"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <mat-divider class="my-3"></mat-divider>
                  <div class="d-flex flex-row-reverse">
                    <button (click)="saveAttachment()" class="mr-4" color="primary" mat-raised-button type="button">
                      <mat-icon>add</mat-icon>
                      <span jhiTranslate="pppInvestorApp.investor.register.addFile"></span>
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <br />
              <h4 jhiTranslate="pppInvestorApp.investor.register.attachments">مستندات الشركة</h4>
              <mat-divider></mat-divider>
              <br />
              <div *ngIf="attachments && attachments.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
                <table class="col mat-table">
                  <thead>
                    <tr>
                      <th scope="col"><span>نوع الملف</span></th>
                      <th scope="col"><span>تفاصيل</span></th>
                      <th scope="col"><span>الملف</span></th>
                      <th scope="col"><span>تاريخ التحميل</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of attachments">
                      <td jhiTranslate="{{ 'pppInvestorApp.AttachmentType.' + attachment.attachmentType }}">
                        {{ attachment.attachmentType }}
                      </td>
                      <td>{{ attachment.name }}</td>
                      <td>
                        <button
                          (click)="openUploadedFile(editForm.get('file')!.value, editForm.get('fileContentType')!.value)"
                          color="primary"
                          mat-raised-button
                          id="jh-create-entity"
                          type="button"
                        >
                          <span class="hidden-sm-down">عرض الملف</span>
                        </button>
                      </td>
                      <td>
                        <!--                      {{ attachment.createdDate | date:'yyyy-MM-dd' }}-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
            </div>
            <br />
          </div>

          <mat-divider class="my-3"></mat-divider>
          <div class="d-flex flex-row-reverse">
            <button [disabled]="editForm.invalid || isSaving" class="mr-4" color="primary" mat-raised-button type="submit">ارسال</button>
            <button mat-raised-button matStepperPrevious color="primary" mat-raised-button type="button" class="ml-2">
              <span jhiTranslate="pppInvestorApp.investor.register.back">Back</span>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
