<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="orginization">
      <h2 data-cy="orginizationDetailsHeading"><span jhiTranslate="pppInvestorApp.orginization.detail.title">Orginization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orginization.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.orginization.name">Name</span></dt>
        <dd>
          <span>{{ orginization.name }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.orginization.description">Description</span></dt>
        <dd>
          <span>{{ orginization.description }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.orginization.address">Address</span></dt>
        <dd>
          <span>{{ orginization.address }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/orginization', orginization.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
