<div class="wide-container d-flex flex-row">
  <div class="round-card row center mat-elevation-z1 p-0">
    <div class="col-lg col-sm p-4">
      <div class="row align-items-center">
        <div *ngIf="!authenticationError; else error" class="mt-3 col-lg col-sm">
          <h3 jhiTranslate="login.title">تسجيل الدخول</h3>
          <p class="text-muted" matLine jhiTranslate="login.pleaseEnter">الرجاء قم بإدخال بيانات حسابك للدخول.</p>
        </div>
        <ng-template #error>
          <mat-error class="mt-3 col-lg col-sm">
            <strong>فشل في عملية تسجيل الدخول!</strong>
            <p class="mt-1" matLine>يرجى التأكد من إسم المتسخدم و كلمة المرور.</p>
          </mat-error>
        </ng-template>
        <img alt="logo" class="img-logo ml-3" src="../../content/images/logo.png" />
      </div>

      <form (ngSubmit)="login()" [formGroup]="loginForm" class="mt-3" role="form">
        <mat-form-field appearance="standard" class="fill col-lg col-sm">
          <input
            #username
            formControlName="username"
            id="username"
            matInput
            name="username"
            placeholder="اسم المستخدم أو رقم المستثمر"
            required
            type="text"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>إسم المستخدم لايمكن أن يكون فارغا</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="fill mt-3 col-lg col-sm">
          <input formControlName="password" id="password" matInput name="password" placeholder="كلمة المرور" required type="password" />
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-error>كلمة المرور لايمكن أن تكونة فارغة</mat-error>
        </mat-form-field>

        <!--            <div class="mt-2 text-center">-->
        <!--                <re-captcha (resolved)="resolved($event)"-->
        <!--                            siteKey="6LesvAIaAAAAAJsvY-hseiQrpMqYIRUsd81XxgOk"></re-captcha>-->
        <!--            </div>-->

        <div class="mt-2 text-center col-lg col-sm">
          <button
            [disabled]="!loginForm.get('username')!.value || !loginForm.get('password')!.value || isAuthenticating"
            color="primary"
            mat-raised-button
            type="submit"
            jhiTranslate="login.title"
          >
            تسجـيل الدخــول
          </button>
        </div>
        <div class="text-center col-lg col-sm d-flex align-items-center">
          <div class="m-auto">
            <mat-spinner *ngIf="isAuthenticating" diameter="50"></mat-spinner>
          </div>
        </div>

        <div class="mt-3 text-center">
          <a
            class="alert-link"
            data-cy="forgetYourPasswordSelector"
            routerLink="/account/reset/request"
            jhiTranslate="login.password.forgot"
            >نسيت كلمة المرور ؟</a
          >
        </div>

        <!--            <div class="mt-3 text-center">-->
        <!--                <a href="#" class="link" (click)="register()">اذا لم يكن لديك حساب بالمنظومة اضغط هنا</a>-->
        <!--            </div>-->

        <mat-progress-bar *ngIf="isAuthenticating" class="mt-2" mode="indeterminate"></mat-progress-bar>
      </form>
    </div>
    <div class="col-lg col-sm round-card" style="height: 100%; object-fit: cover; overflow: hidden">
      <img src="../../content/images/invest.jpg" />
    </div>
  </div>
</div>
<br />
<br />
