<div class="wide-container">
  <div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper tinted-image">
          <img src="../../content/images/invest.jpg" alt="Random first slide" style="object-fit: cover; height: 700px; width: 100%" />
        </div>
        <div class="carousel-caption">
          <!--          <h3 jhiTranslate="home.registerNewInvestor">Register As New Investor</h3>-->
          <a href="" routerLink="investor/register" style="color: white"
            ><h1 jhiTranslate="home.registerNewInvestor">Register As New Investor</h1></a
          >
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper tinted-image">
          <img src="../../content/images/background.jpg" alt="Random first slide" style="object-fit: cover; height: 700px; width: 100%" />
        </div>
        <div class="carousel-caption">
          <!--          <h3 jhiTranslate="home.checkInvestorStatus">Check Investor Status</h3>-->
          <a href="" routerLink="investor/query" style="color: white"
            ><h1 jhiTranslate="home.checkInvestorStatus">Check Investor Status</h1></a
          >
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper tinted-image">
          <img src="../../content/images/invest.jpg" alt="Random first slide" style="object-fit: cover; height: 700px; width: 100%" />
        </div>
        <div class="carousel-caption">
          <!--          <h3 jhiTranslate="home.loginToPortal">Login To Investors Portal</h3>-->
          <a href="" routerLink="login" style="color: white"><h1 jhiTranslate="home.loginToPortal">Login To Investors Portal</h1></a>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img src="../../content/images/ppp-main.svg" alt="" />
      </div>
      <div class="col-xl-6 col-lg-6 center-block">
        <div class="justify-text" style="position: absolute; top: 20%">
          <h2 jhiTranslate="global.info1">نبدة عن الشركة الليبية لإدارة المشاريع المشاركة مع القطاع الخاص</h2>
          <p jhiTranslate="global.info2">
            أنشئت الشركة الليبية لإدارة مشاريع المشاركة مع القطاع الخاص لتنفيذ استراتيجية الحكومة الليبية الرامية إلى التشجيع وتعزيز مشاركة
            القطاع الخاص في تطوير البنية الأساسية، والخدمات العامة، حيث تعمل الشركة على تنفيذ برنامج الشراكة بين القطاعين العام والخاص
          </p>
          <p jhiTranslate="global.info3">
            آلية عمل الشركة حيث تضمن الشراكة بين الدولة والقطاع الخاص حيث يتم تكوين علاقة تعاونية بين شريك او أكثر من الجهات الحكومية، وشريك
            او أكثر من القطاع الخاص كما ان الشراكة قد تكون من خلال تنظيم الأدوار بين الدولة و القطاع الخاص بحيث يكون لكل شريك دور خاص به و
            لكن يتكمل بعضهما الاخر في اطار تنموي واحد
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <!--  <div style="min-height: 400px">-->
  <!--    <div class="row d-flex p-5 align-items-center main-container mx-auto">-->
  <!--      <div class="col-12 text-sm-right col-sm-6 text-center">-->
  <!--        <h3 class="primary" jhiTranslate="home.chooseFromServices">Choose One of the services below</h3>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="card-container m-5">-->
  <!--      <mat-card class="example-ripple mat-elevation-z1 round-card d-flex flex-column" matRipple routerLink="investor/register">-->
  <!--        <img class="center" src="../../content/images/logo.png" style="width: 120px" alt="image" />-->

  <!--        <br />-->
  <!--        <strong jhiTranslate="home.registerNewInvestor">Register As New Investor</strong>-->
  <!--        <br />-->
  <!--        <div class="text-left">-->
  <!--          <button mat-mini-fab class="mat-elevation-z0" color="primary" matRipple routerLink="investor/register">-->
  <!--            <mat-icon>chevron_left</mat-icon>-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </mat-card>-->
  <!--      <mat-card class="example-ripple mat-elevation-z1 round-card d-flex flex-column" matRipple routerLink="investor/query">-->
  <!--        <img class="center" src="../../content/images/logo.png" style="width: 120px" alt="image" />-->
  <!--        <br />-->
  <!--        <strong jhiTranslate="home.checkInvestorStatus">Check Investor Status</strong>-->
  <!--        <br />-->
  <!--        <div class="text-left">-->
  <!--          <button mat-mini-fab class="mat-elevation-z0" color="primary" routerLink="investor/query">-->
  <!--            <mat-icon>chevron_left</mat-icon>-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </mat-card>-->
  <!--      <mat-card class="example-ripple mat-elevation-z1 round-card d-flex flex-column" matRipple routerLink="login">-->
  <!--        <img class="center" src="../../content/images/logo.png" style="width: 120px" alt="image" />-->
  <!--        <br />-->
  <!--        <strong jhiTranslate="home.loginToPortal">Login To Investors Portal</strong>-->
  <!--        <br />-->
  <!--        <div class="text-left">-->
  <!--          <button routerLink="complaint/new/public" mat-mini-fab class="mat-elevation-z0" color="primary">-->
  <!--            <mat-icon>chevron_left</mat-icon>-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </mat-card>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
