<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="pppInvestorApp.attachment.home.title">Attachments</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="pppInvestorApp.attachment.home.createLabel"> Create a new Attachment </span>
    </button>

    <!--    <form class="mr-4">-->
    <!--      <mat-form-field appearance="standard" floatLabel="never">-->
    <!--        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">-->
    <!--          <mat-icon>search</mat-icon>-->
    <!--        </button>-->
    <!--        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />-->

    <!--        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>-->
    <!--          <mat-icon>clear</mat-icon>-->
    <!--        </button>-->
    <!--      </mat-form-field>-->
    <!--    </form>-->
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="attachments && attachments.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">#</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="pppInvestorApp.attachment.name">Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="attachmentType">
            <span jhiTranslate="pppInvestorApp.attachment.attachmentType">Attachment Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="file">
            <span jhiTranslate="pppInvestorApp.attachment.file">File</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileUrl">
            <span jhiTranslate="pppInvestorApp.attachment.fileUrl">File Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes">
            <span jhiTranslate="pppInvestorApp.attachment.notes">Notes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="investor.companyName">
            <span jhiTranslate="pppInvestorApp.attachment.investor">Investor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.name">
            <span jhiTranslate="pppInvestorApp.attachment.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a>
          </td>
          <td>{{ attachment.name }}</td>
          <td jhiTranslate="{{ 'pppInvestorApp.AttachmentType.' + attachment.attachmentType }}">{{ attachment.attachmentType }}</td>
          <td>
            <a *ngIf="attachment.file" (click)="openFile(attachment.file, attachment.fileContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="attachment.file">{{ attachment.fileContentType }}, {{ byteSize(attachment.file) }}</span>
          </td>
          <td>{{ attachment.fileUrl }}</td>
          <td>{{ attachment.notes }}</td>
          <td>
            <div *ngIf="attachment.investor">
              <a [routerLink]="['/investor', attachment.investor?.id, 'view']">{{ attachment.investor?.companyName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="attachment.project">
              <a [routerLink]="['/project', attachment.project?.id, 'view']">{{ attachment.project?.name }}</a>
            </div>
          </td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', attachment.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button [routerLink]="['./', attachment.id, 'edit']" mat-menu-item *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button (click)="delete(attachment)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
