<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="bankAccount">
      <h2 data-cy="bankAccountDetailsHeading"><span jhiTranslate="pppInvestorApp.bankAccount.detail.title">Bank Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bankAccount.id }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.bankAccount.accountNo">Account No</span></dt>
        <dd>
          <span>{{ bankAccount.accountNo }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.bankAccount.bankBranchName">Bank Branch Name</span></dt>
        <dd>
          <span>{{ bankAccount.bankBranchName }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.bankAccount.notes">Notes</span></dt>
        <dd>
          <span>{{ bankAccount.notes }}</span>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.bankAccount.bank">Bank</span></dt>
        <dd>
          <div *ngIf="bankAccount.bank">
            <a [routerLink]="['/bank', bankAccount.bank?.id, 'view']">{{ bankAccount.bank?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pppInvestorApp.bankAccount.investor">Investor</span></dt>
        <dd>
          <div *ngIf="bankAccount.investor">
            <a [routerLink]="['/investor', bankAccount.investor?.id, 'view']">{{ bankAccount.investor?.companyName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
