<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <mat-progress-bar *ngIf="isSaving" class="round-50 mt-2 fill" mode="indeterminate"></mat-progress-bar>

    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <span> بيانات المشروع </span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>البيانات الأساسية للمشروع</h4>
          <br />

          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div>
              <div class="form-group" [hidden]="editForm.get('id')!.value == null">
                <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.projectNo" for="field_projectNo">Project No</label>
                <input
                  type="text"
                  class="form-control"
                  name="projectNo"
                  id="field_projectNo"
                  data-cy="projectNo"
                  formControlName="projectNo"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.nameEn" for="field_name_en">NameEn</label>
                <input type="text" class="form-control" name="name" id="field_name_en" data-cy="nameEn" formControlName="nameEn" />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.details" for="field_details">Details</label>
                <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.detailsEn" for="field_detailsEn">Details En</label>
                <input
                  type="text"
                  class="form-control"
                  name="detailsEn"
                  id="field_detailsEn"
                  data-cy="detailsEn"
                  formControlName="detailsEn"
                />
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.estimatedCost" for="field_estimatedCost"
                  >Estimated Cost</label
                >
                <input
                  type="number"
                  class="form-control"
                  name="estimatedCost"
                  id="field_estimatedCost"
                  data-cy="estimatedCost"
                  formControlName="estimatedCost"
                />
              </div>

              <div class="form-group">
                <label
                  class="form-control-label"
                  jhiTranslate="pppInvestorApp.project.estimatedCostCurrency"
                  for="field_estimatedCostCurrency"
                  >Estimated Cost Currency</label
                >
                <select
                  class="form-control"
                  name="estimatedCostCurrency"
                  formControlName="estimatedCostCurrency"
                  id="field_estimatedCostCurrency"
                  data-cy="estimatedCostCurrency"
                >
                  <option [ngValue]="null">{{ 'pppInvestorApp.Currency.null' | translate }}</option>
                  <option *ngFor="let currency of currencyValues" [value]="currency">
                    {{ 'pppInvestorApp.Currency.' + currency | translate }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.projectStatus" for="field_projectStatus"
                  >Project Status</label
                >
                <select
                  class="form-control"
                  name="projectStatus"
                  formControlName="projectStatus"
                  id="field_projectStatus"
                  data-cy="projectStatus"
                >
                  <option [ngValue]="null">{{ 'pppInvestorApp.ProjectStatus.null' | translate }}</option>
                  <option *ngFor="let projectStatus of projectStatusValues" [value]="projectStatus">
                    {{ 'pppInvestorApp.ProjectStatus.' + projectStatus | translate }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.businessField" for="field_businessField"
                  >Business Field</label
                >
                <select
                  class="form-control"
                  id="field_businessField"
                  data-cy="businessField"
                  name="businessField"
                  formControlName="businessField"
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="
                      businessFieldOption.id === editForm.get('businessField')!.value?.id
                        ? editForm.get('businessField')!.value
                        : businessFieldOption
                    "
                    *ngFor="let businessFieldOption of businessFieldsSharedCollection; trackBy: trackBusinessFieldById"
                  >
                    {{ businessFieldOption.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.investor" for="field_investor">Investor</label>
                <select class="form-control" id="field_investor" data-cy="investor" name="investor" formControlName="investor">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="investorOption.id === editForm.get('investor')!.value?.id ? editForm.get('investor')!.value : investorOption"
                    *ngFor="let investorOption of investorsSharedCollection; trackBy: trackInvestorById"
                  >
                    {{ investorOption.companyName }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-control-label" jhiTranslate="pppInvestorApp.project.orginization" for="field_orginization"
                  >Orginization</label
                >
                <select
                  class="form-control"
                  id="field_orginization"
                  data-cy="orginization"
                  name="orginization"
                  formControlName="orginization"
                >
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="
                      orginizationOption.id === editForm.get('orginization')!.value?.id
                        ? editForm.get('orginization')!.value
                        : orginizationOption
                    "
                    *ngFor="let orginizationOption of orginizationsSharedCollection; trackBy: trackOrginizationById"
                  >
                    {{ orginizationOption.name }}
                  </option>
                </select>
              </div>
            </div>

            <br />
            <h4>بيانات العنوان</h4>
            <mat-divider></mat-divider>
            <br />

            <div class="row align-items-center">
              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>العنوان</mat-label>
                <input formControlName="address" matInput name="address" required type="text" />
                <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
                  <small *ngIf="editForm.get('address')?.errors?.required" class="form-text text-danger"> هذا الحقل مطلوب. </small>
                </div>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>الدولة</mat-label>
                <mat-select formControlName="country" name="country" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    [value]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
                    *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
                  >
                    {{ countryOption.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-lg col-sm">
                <mat-label>المدينة</mat-label>
                <mat-select formControlName="city" name="city" required>
                  <mat-option [value]="null"></mat-option>
                  <mat-option
                    [value]="cityOption.id === editForm.get('city')!.value?.id ? editForm.get('city')!.value : cityOption"
                    *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
                  >
                    {{ cityOption.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row mt-4">
              <div class="col-4 mt-2">
                <h5>موقع المشروع</h5>
                <p>أنقر على الخارطة وحرك المؤشر ليشير إلى موقع المشروع.</p>
                <mat-form-field appearance="standard">
                  <mat-label>خط طول</mat-label>
                  <input disabled matInput type="text" value="{{ markers[0].lat || 'غير محدد' }}" />
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>خط عرض</mat-label>
                  <input disabled matInput type="text" value="{{ markers[0].lng || 'غير محدد' }}" />
                </mat-form-field>
              </div>
              <div class="col-8">
                <agm-map
                  (mapClick)="mapClicked($event)"
                  [disableDefaultUI]="false"
                  [latitude]="this.markers[0].lat"
                  [longitude]="this.markers[0].lng"
                  [zoom]="12"
                >
                  <agm-marker
                    (dragEnd)="markerDragEnd(m, $event)"
                    *ngFor="let m of markers; let i = index"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [markerDraggable]="m.draggable"
                  >
                  </agm-marker>
                </agm-map>
              </div>
            </div>

            <mat-divider class="my-3"></mat-divider>
            <div class="d-flex flex-row-reverse">
              <button [disabled]="isSaving" class="mr-4" color="primary" mat-raised-button type="submit">حفظ</button>

              <button (click)="previousState()" color="primary" mat-button type="button">رجوع</button>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span> مراحل تنفيذ المشروع ({{ milestones?.length }})</span>
        </ng-template>
        <div class="m-4 mt-4">
          <br />
          <h4>مراحل تنفيذ المشروع</h4>
          <br />
          <mat-accordion [hidden]="project.id == null">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="ml-2">add</mat-icon>
                  اضافة مرحلة جديد
                </mat-panel-title>
              </mat-expansion-panel-header>

              <br />
              <h4>اضافة مرحلة جديد</h4>
              <mat-divider></mat-divider>
              <br />

              <div class="row">
                <mat-form-field appearance="outline" class="col">
                  <mat-label>الاسم</mat-label>
                  <input [(ngModel)]="milestone.name" matInput type="text" />
                </mat-form-field>
                <mat-checkbox [(ngModel)]="milestone.isFinished" class="col">تم انجاز المرحلة ؟</mat-checkbox>
              </div>

              <div class="row">
                <mat-form-field appearance="outline" class="col">
                  <mat-label>تفاصيل المرحلة</mat-label>
                  <input [(ngModel)]="milestone.details" matInput type="text" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col">
                  <mat-label>ملاحظات</mat-label>
                  <input [(ngModel)]="milestone.notes" matInput type="text" />
                </mat-form-field>
              </div>

              <mat-divider class="my-3"></mat-divider>
              <div class="d-flex flex-row-reverse">
                <button [disabled]="isSaving" (click)="saveMilestone()" class="mr-4" color="primary" mat-raised-button type="button">
                  <mat-icon>add</mat-icon>
                  اضافة
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <br />
          <h4>مراحل المشروع</h4>
          <mat-divider></mat-divider>
          <br />
          <div *ngIf="milestones && milestones.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3">
            <table class="col mat-table">
              <thead>
                <tr>
                  <th scope="col"><span>#</span></th>
                  <th scope="col"><span>اسم المرحلة</span></th>
                  <th scope="col"><span>تفاصيل المرحلة</span></th>
                  <th scope="col"><span>ملاحظات</span></th>
                  <th scope="col"><span>تم انجازها</span></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let milestone of milestones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ milestone.name }}</td>
                  <td>{{ milestone.details }}</td>
                  <td>{{ milestone.notes }}</td>
                  <td>
                    <div *ngIf="milestone.isFinished" matTooltip="تم الانجاز" style="font-size: 30px">
                      <mat-icon [inline]="true" class="text-success">check_circle_outline</mat-icon>
                    </div>
                    <div *ngIf="!milestone.isFinished" matTooltip="غير منجزة" style="font-size: 30px">
                      <mat-icon [inline]="true" class="text-warning">info</mat-icon>
                    </div>
                  </td>
                  <td>
                    <button (click)="deleteMilestone(milestone?.id)" class="mr-4" color="warn" mat-raised-button type="button">
                      <mat-icon>delete</mat-icon>
                      حذف
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="false"></jhi-empty-content>
  </ng-template>
</div>
