@import 'bootstrap-variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-theme.scss';
/* ==============================================================
Bootstrap tweaks
===============================================================*/

* {
  font-family: 'Open Sans', 'Roboto';
  outline: none !important;
}

.mat-menu-item {
  font-family: 'Open Sans', 'Roboto';
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

html {
  height: 100 vb;
  padding: 0px;
}

body {
  height: 100 vb;
  overflow: auto;
}

.mat-expansion-row {
  margin-bottom: 1px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.fill {
  width: 100%;
}

.fill-flex {
  flex: 0 0 100%;
}

.m-auto {
  margin: auto;
}

.white-b {
  background-color: white;
}

.gray-b {
  background-color: rgb(247, 247, 247);
}

.white {
  color: white !important;
}

.hidden {
  visibility: hidden;
}

.show td:last-child div {
  visibility: visible;
}

.active {
  color: 5 c6bc0;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.detail-row {
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;

  div:first-child {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
}

.main-container-fix {
  min-width: 700px; // min-height: 70vh !important;
}

//* {
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}

.center-cropped {
  width: 200px;
  height: 200px;
  overflow: hidden;

  img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.img-logo {
  width: auto;
  height: 120px;
}

.img-login {
  width: auto;
  height: 200px;
}

.img-logo-toolbar {
  width: auto;
  height: 40px;
}

.ellipsis {
  max-width: 300px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-card {
  max-width: 400px;
}

h4,
h5,
h6 {
  font-family: 'Open Sans', 'Roboto';
}

.big-icon {
  width: 60px !important;
  height: 60px !important;
  font-size: 60px;
}

.bigger-icon {
  width: 120px !important;
  height: 120px !important;
  font-size: 120px;
}

.green {
  color: #00695c !important;
}

.nav-search-box {
  .mat-form-field-flex {
    align-items: center;
    background-color: rgba(239, 239, 239, 0.83);
    border-radius: 10px !important;
    padding: 0;
    height: 45px;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    // background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 10px eeeeeea2 inset;
    -webkit-box-shadow: 0 0 0 10px eeeeeea2 inset;
  }
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.wide-container {
  width: 100% !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 100px);
}

.entity-container {
  width: 90% !important;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .wide-container {
  }

  .entity-container {
    margin-top: 40px;
  }
}

.footer {
  background-color: #ffffff;
  border-radius: 25px;
}

agm-map {
  height: 300px;
  width: 100%;
}

.tinted-image {
  width: 100%;
  height: 100%;
  background: url('http://images.kuoni.co.uk/73/johannesburg-and-pretoria-38330408-1438098667-WideInspirationalPhoto.jpg') center center
    no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #000000);
    opacity: 0.8;
    height: 100%;
    width: 100%;
  }
}

.driver-map {
  height: 600px;
  width: 100%;
}

.dot-green {
  height: 15px;
  width: 15px;
  background-color: #4bc632;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  height: 15px;
  width: 15px;
  background-color: #ce482c;
  border-radius: 50%;
  display: inline-block;
}

.dot-orange {
  height: 15px;
  width: 15px;
  background-color: #e2c641;
  border-radius: 50%;
  display: inline-block;
}

.box-red {
  border-radius: 5px;
  background-color: #e53935;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
}

.box-blue {
  border-radius: 5px;
  background-color: #1565c0;
  margin: 8px;
  padding: 6px;
}

.box-purple {
  border-radius: 5px;
  background-color: #673ab7;
  margin: 8px;
  padding: 6px;
}

.box-orange {
  border-radius: 5px;
  background-color: #ffb300;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
}

.box-green {
  border-radius: 5px;
  background-color: #4caf50;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
}

.box-black {
  border-radius: 5px;
  background-color: #212121;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
}

.box-grey {
  border-radius: 5px;
  background-color: #607d8b;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
}

.text-red {
  color: #e53935;
}

.text-blue {
  color: #1565c0;
}

.text-purple {
  color: #673ab7;
}

.text-orange {
  color: #ffb300;
}

.text-green {
  color: #4caf50;
}

.text-black {
  color: #212121;
}

.text-grey {
  color: #607d8b;
}

.mat-step-header-no-click {
  pointer-events: none !important;
}

.example-ripple {
  cursor: pointer;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.col-center-block {
  float: none;
  display: block;
  margin: 0 auto;
  /* margin-left: auto; margin-right: auto; */
}

.table-sized-container {
  height: 270px;
  overflow: auto;
}

.table-sized-container thead {
  background: gainsboro;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/*This will work on every browser*/
.table-sized-container thead th {
  background: gainsboro;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 1rem;
}

.card-container-small {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 1rem;
}

.main-menu-wrapper__logo {
  position: relative;
  float: left;
  padding-left: 0;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px;
}
