@import '~@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();
// Define a theme.

$primary: mat-palette($mat-grey, 900);
$accent: mat-palette($mat-yellow, 800);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
// Include all theme styles for the components.
@include angular-material-theme($theme);
$borderRadius: 20px;

.primary-light {
  color: map-get($primary, 50);
}

.warn {
  color: map-get($warn, 400);
}

.primary {
  color: map-get($primary, 200);
}

.primary-bg {
  background-color: map-get($primary, 500);
}

.accent-bg {
  background-color: map-get($accent, 300);
}

.primary-bg-300 {
  background-color: map-get($primary, 300);
}

.round-card {
  border-radius: 8px !important;
}

.round-50 {
  border-radius: 50px;
}

.mat-icon-button {
  color: #0000008a;
}

.mat-elevation-z {
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.mat-search-box {
  width: 280px;

  .mat-form-field-flex {
    align-items: center;
    background-color: #eeeeeea2;
    border-radius: $borderRadius !important;
    padding: 0;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    // background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px eeeeeea2 inset;
    -webkit-box-shadow: 0 0 0 30px eeeeeea2 inset;
  }
}

.nav-search-box {
  .mat-form-field-flex {
    align-items: center;
    background-color: #ffffffd3;
    border-radius: 30px !important;
    padding: 0;
    height: 45px;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    // background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px eeeeeea2 inset;
    -webkit-box-shadow: 0 0 0 30px eeeeeea2 inset;
  }
}

.mat-button {
  border-radius: $borderRadius !important;

  .mat-icon {
    color: #0000008a;
    margin-left: 0.3em;
  }
}

.mat-list-item {
  .mat-icon {
    margin-left: 0.4em;
  }
}

.mat-raised-button {
  border-radius: $borderRadius !important;
}

.mat-stroked-button {
  border-radius: $borderRadius !important;

  .mat-icon {
    margin-left: 0.3em;
  }
}

.primary-light {
  color: map-get($primary, 50);
}

.primary {
  color: map-get($primary, 700);
}

.mat-icon-button {
  color: map-get($primary, 700);
}

a {
  color: map-get($primary, 700);
  font-weight: bold;
}

.mat-search-box {
  width: 280px;

  .mat-form-field-flex {
    align-items: center;
    background-color: #eeeeeea2;
    padding: 0;
    border-radius: 0.3em;
  }

  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-prefix {
    margin-left: 0.7em;
    background-color: #e0e0e096;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }
}

.mat-table {
  tr {
    padding-left: 20px;

    th:first-child {
      padding-right: 20px;
    }

    &:nth-child(even) {
      background-color: #0000000d; // border-bottom: 0.5px solid #e6e6e66c;
    }
  }

  th {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  thead {
    border-bottom: 1px solid #c7c7c788;
    background: #f5f5f5; // position: sticky; // top: 0;
    z-index: 10;
  }

  td {
    padding: 0.5em 0.3em;
  }

  tbody td:first-child {
    padding-right: 20px;
  }
}

.mat-button {
  color: map-get($primary, 700);

  .mat-icon {
    margin-left: 0.3em;
  }
}

.mat-menu-item {
  color: map-get($primary, 700);

  .mat-icon {
    color: map-get($primary, 700);
  }
}

.mat-button-fix {
  min-width: inherit !important;
}

.mat-title {
  font-size: 20px;
  font-weight: 400;
}

.mat-elevation-z1 {
  background-color: white !important;
}

.mat-paginator-range-label {
  word-spacing: 5px;
}

.active {
  color: map-get($map: $primary, $key: 700) !important;
  background-color: map-get($map: $primary, $key: 50) !important;
}

.mat-step-label {
  font-size: 18px;
}
