<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-bank-account-heading"
        data-cy="BankAccountCreateUpdateHeading"
        jhiTranslate="pppInvestorApp.bankAccount.home.createOrEditLabel"
      >
        Create or edit a Bank Account
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.bankAccount.accountNo" for="field_accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.bankAccount.bankBranchName" for="field_bankBranchName"
            >Bank Branch Name</label
          >
          <input
            type="text"
            class="form-control"
            name="bankBranchName"
            id="field_bankBranchName"
            data-cy="bankBranchName"
            formControlName="bankBranchName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.bankAccount.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.bankAccount.bank" for="field_bank">Bank</label>
          <select class="form-control" id="field_bank" data-cy="bank" name="bank" formControlName="bank">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="bankOption.id === editForm.get('bank')!.value?.id ? editForm.get('bank')!.value : bankOption"
              *ngFor="let bankOption of banksSharedCollection; trackBy: trackBankById"
            >
              {{ bankOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pppInvestorApp.bankAccount.investor" for="field_investor">Investor</label>
          <select class="form-control" id="field_investor" data-cy="investor" name="investor" formControlName="investor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="investorOption.id === editForm.get('investor')!.value?.id ? editForm.get('investor')!.value : investorOption"
              *ngFor="let investorOption of investorsSharedCollection; trackBy: trackInvestorById"
            >
              {{ investorOption.companyName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
